@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Afacad Flux", sans-serif;
  color: #fff;
  /* background-color: #130d0a; */
  background-color: rgb(19, 18, 18);
}
a {
  text-decoration: none;
  color: #fff;
  transition: all 2s ease;
}

.header {
  height: 220px;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: #130d0a;
  transition: all 1s ease-in-out;
}

#hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Video background styling */
#heroVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.6); /* Lower brightness */
}

/* Hero text styling */
.hero-content {
  position: relative;
  text-align: center;
  z-index: 2;
}

/* .hero-text {
  opacity: 0;
} */

.title {
  font-size: 130px;
  font-family: "Afacad Flux", sans-serif;
  letter-spacing: 12px;
}

.subtitle {
  font-size: 25px;
  font-family: "Afacad Flux", sans-serif;
  font-weight: 200;
  letter-spacing: 7px;
  margin-bottom: 50px;
}

.material-icons {
  cursor: pointer;
  font-size: 20px;
}

.menu {
  position: fixed;
  right: 105px;
  top: 35px;
  font-size: 40px;
  z-index: 999;
}

/* Section styling */
section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(1);
  min-height: 100vh;
  z-index: -1;
}

.header-content {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 5px;
}

.other-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.circle {
  height: 42px;
  width: 42px;
  border-radius: 100%;
  border: 1px solid white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
}

#skills {
  background-image: url("https://images.unsplash.com/photo-1505238680356-667803448bb6?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  filter: brightness(70%);
}

#projects {
  background-image: url("https://images.unsplash.com/photo-1607798748738-b15c40d33d57?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  filter: brightness(80%);
}

#socials {
  background-image: url("https://images.unsplash.com/photo-1504384308090-c894fdcc538d?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  filter: brightness(80%) blur(1px);
  min-height: 100vh;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(2, 550px);
  grid-template-rows: repeat(3, 260px);
  grid-template-areas:
    "github linkedin"
    "github instagram"
    "slack instagram";
  gap: 40px;
  cursor: pointer;
}

.boxes div {
  position: relative;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* padding: 20px; */
}

.github {
  grid-area: github;
}

.linkedin {
  grid-area: linkedin;
}

.slack {
  grid-area: slack;
}

.instagram {
  grid-area: instagram;
}

.box span {
  position: absolute;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 500;
  top: 45%;
  opacity: 0;
  z-index: 99;
}

.box img {
  height: 100%;
  width: 110%;
}

.slack img,
.linkedin img {
  height: 120%;
}

.box img:hover {
  filter: brightness(0.8);
  transition: all 0.4s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box:hover span {
  opacity: 1;
  transition: all 0.7s ease;
}

.subSections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 35px 0;
  min-height: 100vh;
}

.projectBoxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 120px;
  margin-left: 50px;
}

.projectSubBoxes {
  height: 400px;
  width: 600px;
}

.singleProject {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectInfo {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 50px;
  padding: 20px 0;
}

.skillBoxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skillBoxes div {
  height: 250px;
  width: 250px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.imgBox img {
  height: 70%;
  width: 70%;
}

.projectSubBoxes img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.projectTitle {
  font-size: 40px;
}

.projectDescription {
  font-size: 20px;
  font-weight: 100;
  /* letter-spacing: 1.5px; */
}

.projectLinks a {
  margin-right: 30px;
  text-decoration: underline;
  font-size: 20px;
}

.bg.hidden {
  display: none; /* Make hidden sections non-interactive */
}

.bg.active {
  display: block; /* Ensure the active section is visible */
}